<?xml version="1.0"?>
<!--
/** 
 * Magento CZ Module
 * 
 * NOTICE OF LICENSE 
 * 
 * This source file is subject to the Open Software License (OSL 3.0) 
 * that is bundled with this package in the file LICENSE.txt. 
 * It is also available through the world-wide-web at this URL: 
 * http://opensource.org/licenses/osl-3.0.php 
 * If you did of the license and are unable to 
 * obtain it through the world-wide-web, please send an email 
 * to magentocz@gmail.com so we can send you a copy immediately. 
 * 
 * @copyright Copyright (c) 2014 GetReady s.r.o. (https://getready.cz)
 * 
 */ 
/** 
 * Česká pošta
 * 
 * @category Magentocz 
 * @package Magentocz_Ceskaposta
 * @author Jaromír Müller, https://twitter.com/jaromirmuller
 */
-->
<config>
    <modules>
        <Magentocz_Ceskaposta>
            <version>1.0.0</version>
        </Magentocz_Ceskaposta>
    </modules>
    <global>
        <models>
            <magentocz_ceskaposta>
                <class>Magentocz_Ceskaposta_Model</class>
                <resourceModel>magentocz_ceskaposta_mysql4</resourceModel>
            </magentocz_ceskaposta>
            <magentocz_ceskaposta_mysql4>
                <class>Magentocz_Ceskaposta_Model_Mysql4</class>
                <entities>
                    <posta>
                        <table>magentocz_ceskaposta_posta</table>
                    </posta>
                </entities>
            </magentocz_ceskaposta_mysql4>
        </models>
        <resources>
            <magentocz_ceskaposta_setup>
                <setup>
                    <module>Magentocz_Ceskaposta</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magentocz_ceskaposta_setup>
            <magentocz_ceskaposta_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magentocz_ceskaposta_write>
            <magentocz_ceskaposta_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magentocz_ceskaposta_read>
        </resources>
        <helpers>
            <magentocz_ceskaposta>
                <class>Magentocz_Ceskaposta_Helper</class>
            </magentocz_ceskaposta>
        </helpers>
        <blocks>
            <magentocz_ceskaposta>
                <class>Magentocz_Ceskaposta_Block</class>
            </magentocz_ceskaposta>
        </blocks>
    </global>
    
    <admin>
        <routers>
            <magentocz_ceskaposta>
                <use>admin</use>
                <args>
                    <module>Magentocz_Ceskaposta</module>
                    <frontName>ceskaposta</frontName>
                </args>
            </magentocz_ceskaposta>
        </routers>
    </admin>

    <adminhtml>

        <translate>
            <modules>
                <Magentocz_Ceskaposta>
                    <files>
                        <default>Magentocz_Ceskaposta.csv</default>
                    </files>
                </Magentocz_Ceskaposta>
            </modules>
        </translate>
    </adminhtml>
    
    <frontend>
        
        <translate>
            <modules>
                <Magentocz_Ceskaposta>
                    <files>
                        <default>Magentocz_Ceskaposta.csv</default>
                    </files>
                </Magentocz_Ceskaposta>
            </modules>
        </translate>
    </frontend>

    <default>
        <carriers>
 
            <magentoczceskapostabalikdoruky>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>magentocz_ceskaposta/carrier_ceskaposta_balikdoruky</model>
                <name>Česká pošta, Balík do ruky</name>
                <price>5.00</price>
                <title>Česká Pošta, Balík do ruky</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </magentoczceskapostabalikdoruky>

            <magentoczceskapostabaliknapostu>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>magentocz_ceskaposta/carrier_ceskaposta_baliknapostu</model>
                <name>Česká pošta, Balík na poštu</name>
                <price>5.00</price>
                <title>Česká Pošta, Balík na poštu</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </magentoczceskapostabaliknapostu>

        </carriers>
    </default>
</config>
